*{
    margin: 0%;
    padding: 0%;
    background-color:#dfe3ee ;
}
.textbox{
    margin-top: 200px;
    margin-left: 150px;

}
h1{
    font-size: 55px;
    color: #1877f2;
    font-family: sans-serif;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: normal;
    line-height: 32px;
    width: 500px;
}
.container{
width: 400px;
height: 350px;
float: right;
margin-top: -194px;
margin-right: 160px;
border-radius: 12px;
background-color: white;
/* width: 390px;
height: 300px; */
text-align: center ;
}
.text{
    background-color: white;
    border-radius: 10px;
    border-style: none;
    
}
.form{
    float: right;
    background-color: white;
    margin-top: 20px;
    padding: 16px;

}
.form input{
    padding: 17px;
    width: 332px;
}
.button{
    background-color: #1877f2;
    margin-top: 15px;
    color: white;
    height: 50px;
    width: 370px;
    border-radius: 5px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-style: none;
}
a{
    border-style: none;
    color: black;
}